@import "font.css";
//通用样式文件
.van-button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
//.van-button--disabled {
//  opacity: 1;
//}
.van-button--large {
  height: 43px;
  line-height: 43px;
}
.van-field__body {
  height: 100%;
}

